{% extends "blog/base.html" %}
  {% block content %}
        <h1>About Us</h1>
        <p>We know the mind is absolute and universal, and it transcends the confines of matter, space and time as we know it today. We at Mind Patrons understand, innerstand and overstand the dynamics governing the human mind, and are poise to provide vital nutrient neccessary for it to evolve into its highest intelligence in this human experience we all share on earth plane reality.</p>

           <p> That is why Mind Nutrient Ethereal is born to serve as the universe responds to Earth's cry for solutions to humans' problems: which are first spiritual before manifesting into physical disorderliness. We know life is easy when everything is placed or allowed to function in the original order they were created to be. </p>
            
           <p> We are neither religious nor political in our operation, as we fully over stand the divisive tendencies the ideology of politics and religions maintain in human societies globally. We identify it as the root cause of the out of balance attitudes and behaviors humanity are displaying in our dispensation.</p>
   {% endblock content %}

